<!-- Run Analytic html -->
<form method="post" enctype="multipart/form-data" id='analytic'>
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <!-- select dataset to work on -->
            <div class="col">
            <h5>Select Dataset</h5>
            {% if files|length < 1 %}
                <p class="text-info">Please import csv</p>
            {% else %}
            {% for file_name in files %}
            <div class="myradio">
                <label for="file_name{{ forloop.counter }}"><input id="file_name{{ forloop.counter }}" name="file_name" type="radio" value="{{ file_name }}" required> {{ file_name }}</label>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    
        <div class="col">
            <h5>Select Algorithm</h5>
            {% if algorithms|length < 1 %}
                <p class="text-info">Contact the admin to upload algorithms</p>
            {% else %}
            {% for algorithm in algorithms %}
            <div class="myradio">
                <label for="{{ algorithm }}"><input id="{{ algorithm }}" name="algorithm" type="radio" value="{{ algorithm }}" required> {{ algorithm }}</label>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    
        </div>
        <button type="submit" class="btn btn-primary" id='run_analytic' name='analytic'> Run Analytic</button>
        </div>
    </form>
    <hr/>

<form method="post" enctype="multipart/form-data" id='analytic'>
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <!-- select dataset to work on -->
            <h5>Analytic History</h5>
            <hr>
            <br>
        </div>
        <div class = "row">
            <div class = "col">Name</div>
            <div class = "col">Dataset Name</div>
            <div class = "col">Algorithm Name</div>
            <div class = "col">Time Published</div>
            <div class = "col"></div>
        </div>
        <hr>
        {% for attribute in a %}
        <div class = "row">
            <div class = "col"><a href="">{{attribute.analytic_name}}</a></div>
            <div class = "col">{{attribute.DataSet_name}}</div>
            <div class = "col">{{attribute.Algo_name}}</div>
            <div class = "col">{{attribute.time}}</div>
            <div class = "col">
                <form  method="post" enctype="multipart/form-data" id="delete" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-danger btn-sm" value='{{attribute.id}}' name='delete'>delete</button>
                </form>
            </div>
        </div>
        <hr>         
            {% endfor %}
    </form>
    <hr/>